---
import { IconCode, IconDemo } from '../icons/icons'

interface Props {
  title_url?: string
  title?: string
  description?: string
  link_code?: string
  link_demo?: string
  icons?: string
  image?: string
  image_alt?: string
}

const {
  title_url,
  title,
  description,
  link_code,
  link_demo,
  icons,
  image,
  image_alt
} = Astro.props
---

<article class='projects__galery-item'>
  <img src={image} alt={image_alt} class='galery__img' />
  <div class='galery__item-info'>
    <h4 class='item__title'>
      <a href={title_url}>{title}</a>
    </h4>
    <p class='item__description'>
      {description}
    </p>
    <footer class='item__footer'>
      <div class='footer__links'>
        <a href={link_code}> <IconCode /> Code</a>
        <a href={link_demo}> <IconDemo /> Demo</a>
      </div>
      <p class='footer__icons'>{icons}</p>
    </footer>
  </div>
</article>

<style is:global>
  .projects__galery-item {
    position: relative;
  }

  .galery__img {
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    box-shadow: var(--shadow-elevation-low);
  }

  .galery__item-info {
    width: 100%;
    height: calc(100% - 24px);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    background: linear-gradient(
      180deg,
      var(--black-transparent-02),
      var(--black-transparent-08)
    );
    transition: 0.3s ease-in-out;
    overflow: hidden;
    opacity: 0;
  }

  .galery__item-info:hover {
    opacity: 1;
    box-shadow: var(--shadow-elevation-medium);
  }

  .item__title {
    font-size: var(--step-2);
    font-weight: 700;
  }

  .item__title a {
    color: var(--light-blue);
    text-decoration: none;
  }

  .item__title a:hover {
    text-decoration: underline;
  }

  .item__description {
    font-size: var(--step-0);
    font-weight: 400;
    color: var(--white);
  }

  .item__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0;
  }

  .footer__links {
    display: flex;
    gap: 1rem;
  }

  .footer__links a {
    font-size: var(--step--1);
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
    transition: 0.3s ease-in-out;

    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .footer__links a:hover {
    color: var(--light-blue);
    text-decoration: underline;
  }

  .footer__links a svg {
    color: var(--light-blue);
  }

  .footer__icons {
    font-size: var(--step-0);
    font-weight: 400;
    color: var(--white);
  }
</style>
