---
import ProjectsGaleryCard from './ProjectsGaleryCard.astro'
import projects_es from '../../data/projects_es.json'
import convertTitleToURL from '../utils/convert_title_to_url'
---

<div class='projects__galery'>
  {
    projects_es.map(project => (
      <ProjectsGaleryCard
        title={project.title}
        description={project.description}
        image={project.images[0].src}
        image_alt={project.images[0].alt}
        title_url={`/projects/${convertTitleToURL(project.title)}`}
      />
    ))
  }
</div>

<style>
  .projects__galery {
    columns: 2 350px;
    column-gap: 20px;
    display: block;
  }
</style>
