---
interface Props {
  title: string
  description: string
  canonical?: string
  image?: string
}

const {
  title,
  description,
  canonical,
  image = 'og-image.jpg'
} = Astro.props as Props

const determineCanonicalURL = () => {
  if (Astro.url.host.includes('localhost')) return 'http://localhost:4321'
  return canonical || Astro.url.pathname
}

const canonicalURL = new URL(determineCanonicalURL(), Astro.site)
---

<title>{title}</title>

<meta charset='UTF-8' />
<meta name='description' content={description} />
<link rel='canonical' href={canonicalURL} />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<meta name='theme-color' content='#06283d' />

<meta
  name='keywords'
  content='desarrollador full stack, frontend developer, backend developer, HTML, CSS, JavaScript, React.js, TypeScript, Next.js, Astro, Java, Spring Boot, desarrollador web, portfolio, Argentina, desarrollo de software, aplicaciones web, programador web'
/>
<meta
  name='news_keywords'
  content='desarrollo web, full stack developer, HTML, CSS, JavaScript, React.js, TypeScript, Java, Spring Boot, desarrollo de software, aplicaciones web'
/>

<meta name='author' content='Rodrigo Andino' />
<meta name='copyright' content='Rodrigo Andino' />
<meta name='language' content={Astro.currentLocale || 'es'} />
<meta name='generator' content={Astro.generator} />
<meta name='rating' content='General' />

<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:creator' content='@Rodriiandino1' />
<meta name='twitter:title' content={title} />
<meta name='twitter:description' content={description} />
<meta name='twitter:image' content={new URL(image, Astro.url)} />
<meta
  name='twitter:image:alt'
  content='Portfolio de Rodrigo Andino - Desarrollador Full Stack'
/>

<meta property='og:image' content={new URL(image, Astro.url)} />
<meta
  property='og:image:alt'
  content='Portfolio de Rodrigo Andino - Desarrollador Full Stack'
/>
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:url' content={Astro.url} />
<meta
  property='og:site_name'
  content='Portfolio Rodrigo Andino | Desarrollador Full Stack'
/>
<meta property='og:type' content='website' />
<meta property='og:locale' content='es_AR' />

<meta
  name='robots'
  content='index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1'
/>
<meta name='googlebot' content='index, follow' />
<meta name='bingbot' content='index, follow' />

<link rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<link rel='shortcut icon' href='/favicon.ico' />
<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
<link rel='manifest' href='/site.webmanifest' />

<link rel='sitemap' href='/sitemap-index.xml' />
